.App {
  text-align: center;
}

.App h1{
  width: 100%;
  background-color: green;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filter{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  height: 100px;
  border-bottom: 2px solid black;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  
}

.movie-card{
  border: 10px solid black;
  width: 17%;
  margin-left: 20px;
}

.description{
  background-color:
}

.rate{
  background-color: red;
}

.search-filter{
  display: flex;
  
  height: 40px;
  
}

.search-bar{
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
